In [3]:
%run create_tables.py

Deleting table:  DROP TABLE IF EXISTS log_data;
Deleting table:  DROP TABLE IF EXISTS song_data;
Deleting table:  DROP TABLE IF EXISTS songplays;
Deleting table:  DROP TABLE IF EXISTS users;
Deleting table:  DROP TABLE IF EXISTS songs;
Deleting table:  DROP TABLE IF EXISTS artists;
Deleting table:  DROP TABLE IF EXISTS time;

Creating table:  CREATE TABLE IF NOT EXISTS log_data (
                                    artist TEXT,
                                    auth VARCHAR(MAX),
                                    firstName TEXT,
                                    gender CHAR(1),
                                    itemInSession int,
                                    lastName TEXT,
                                    length NUMERIC,
                                    level CHAR(4),
                                    location TEXT,
                                    method CHAR(3),
                                    page VARCHAR(MAX),
                                    registration bigint,
                                    session_id int,
                                    song TEXT,
                                    status smallint,
                                    ts bigint,
                                    userAgent TEXT,
                                    user_id int
                                    );
Creation of table is completed

Creating table:  CREATE TABLE IF NOT EXISTS song_data (
                                    num_songs int,
                                    artist_id VARCHAR(MAX),
                                    artist_latitude NUMERIC,
                                    artist_longitude NUMERIC,
                                    artist_location TEXT,
                                    artist_name TEXT,
                                    song_id VARCHAR(MAX),
                                    title TEXT,
                                    duration NUMERIC,
                                    year int
                                    );
Creation of table is completed

Creating table:  CREATE TABLE IF NOT EXISTS songplays (
                                    songplay_id int GENERATED BY DEFAULT AS IDENTITY(0,1) PRIMARY KEY,
                                    start_time bigint NOT NULL,
                                    user_id int NOT NULL,
                                    level CHAR(4) NOT NULL,
                                    song_id VARCHAR(MAX) NOT NULL,
                                    artist_id VARCHAR(MAX) NOT NULL,
                                    session_id int NOT NULL,
                                    location TEXT NOT NULL,
                                    user_agent TEXT NOT NULL
                                    );
Creation of table is completed

Creating table:  CREATE TABLE IF NOT EXISTS users (
                                    user_id int IDENTITY(0,1) PRIMARY KEY,
                                    first_name TEXT NOT NULL,
                                    last_name TEXT NOT NULL,
                                    gender CHAR(1) NOT NULL,
                                    level CHAR(4) NOT NULL
                                    );
Creation of table is completed

Creating table:  CREATE TABLE IF NOT EXISTS songs (
                                    song_id VARCHAR(MAX) PRIMARY KEY,
                                    title TEXT NOT NULL,
                                    artist_id VARCHAR(20) NOT NULL,
                                    year int NOT NULL,
                                    duration NUMERIC NOT NULL
                                    );
Creation of table is completed

Creating table:  CREATE TABLE IF NOT EXISTS artists (
                                    artist_id VARCHAR(MAX) PRIMARY KEY,
                                    name TEXT NOT NULL,
                                    location TEXT NOT NULL,
                                    lattitude NUMERIC,
                                    longitude NUMERIC
                                    );
Creation of table is completed

Creating table:  CREATE TABLE IF NOT EXISTS time (
                                    start_time TIMESTAMP PRIMARY KEY,
                                    hour smallint NOT NULL,
                                    day smallint NOT NULL,
                                    week smallint NOT NULL,
                                    month smallint NOT NULL,
                                    year int NOT NULL,
                                    weekday smallint NOT NULL
                                    );
Creation of table is completed

In [4]:
%run etl.py

Copying data:  COPY log_data FROM 's3://udacity-dend/log_data/2018/11/2018-11-'
    CREDENTIALS 'aws_iam_role=arn:aws:iam::144316422473:role/dwhRole_akwa'
    REGION 'us-west-2' TRUNCATECOLUMNS BLANKSASNULL EMPTYASNULL
    timeformat as 'epochmillisecs'
    FORMAT AS json 's3://udacity-dend/log_json_path.json'

Loading of data is completed

Copying data:  COPY song_data FROM 's3://udacity-dend/song_data/A'
    CREDENTIALS 'aws_iam_role=arn:aws:iam::144316422473:role/dwhRole_akwa'
    REGION 'us-west-2' TRUNCATECOLUMNS BLANKSASNULL EMPTYASNULL
    FORMAT AS json 'auto ignorecase'

Loading of data is completed

Inserting data:  INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
                                SELECT ts, user_id, level, song_id, artist_id, session_id, artist_location, userAgent
                                FROM log_data l
                                INNER JOIN song_data s
                                ON s.title = l.song AND s.artist_name = l.artist
                                WHERE page = 'NextSong'
                                    AND user_id IS NOT NULL
                                    AND session_id IS NOT NULL;

InternalError_: Cannot insert a NULL value into column location
DETAIL:
  -----------------------------------------------
  error:  Cannot insert a NULL value into column location
  code:      8007
  context:   query execution
  query:     171
  location:  column:8
  process:   query3_127_171 [pid=9947]
  -----------------------------------------------

In [ ]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()
query = 'select count(*) from songplays'
cur.execute(query)
print(cur.fetchall())