In [1]:
%run create_tables.py

Successful connection to the Cluster
Deleting table:
 DROP TABLE IF EXISTS log_data;
Deleting table:
 DROP TABLE IF EXISTS song_data;
Deleting table:
 DROP TABLE IF EXISTS songplays;
Deleting table:
 DROP TABLE IF EXISTS users;
Deleting table:
 DROP TABLE IF EXISTS songs;
Deleting table:
 DROP TABLE IF EXISTS artists;
Deleting table:
 DROP TABLE IF EXISTS time;
Creating table:  CREATE TABLE IF NOT EXISTS log_data (
                                    artist TEXT,
                                    auth VARCHAR(MAX) NOT NULL,
                                    firstName TEXT NOT NULL,
                                    gender CHAR(1) NOT NULL,
                                    itemInSession int NOT NULL,
                                    lastName TEXT NOT NULL,
                                    length DECIMAL(8,5),
                                    level CHAR(4) NOT NULL,
                                    location TEXT NOT NULL,
                                    method CHAR(3) NOT NULL,
                                    page VARCHAR(10) NOT NULL,
                                    registration bigint NOT NULL,
                                    session_id int NOT NULL,
                                    song TEXT,
                                    status smallint NOT NULL,
                                    ts TIMESTAMP NOT NULL,
                                    userAgent TEXT NOT NULL,
                                    user_id int NOT NULL,
                                    PRIMARY KEY (user_id, itemInSession)
                                    );
Creating table:  CREATE TABLE IF NOT EXISTS song_data (
                                    num_songs int NOT NULL,
                                    artist_id VARCHAR(MAX) NOT NULL,
                                    artist_latitude NUMERIC,
                                    artist_longitude NUMERIC,
                                    artist_location TEXT,
                                    artist_name TEXT NOT NULL,
                                    song_id VARCHAR(MAX) NOT NULL,
                                    title TEXT NOT NULL,
                                    duration NUMERIC(8,5) NOT NULL,
                                    year int NOT NULL,
                                    PRIMARY KEY (song_id)
                                    );
Creating table:  CREATE TABLE IF NOT EXISTS songplays (
                                    songplay_id int GENERATED BY DEFAULT AS IDENTITY(0,1) PRIMARY KEY,
                                    start_time TIMESTAMP NOT NULL,
                                    user_id int NOT NULL,
                                    level CHAR(4) NOT NULL,
                                    song_id VARCHAR(20) NOT NULL,
                                    artist_id VARCHAR(20) NOT NULL,
                                    location TEXT NOT NULL,
                                    user_agent TEXT NOT NULL
                                    );
Creating table:  CREATE TABLE IF NOT EXISTS users (
                                    user_id int GENERATED BY DEFAULT AS IDENTITY(0,1) PRIMARY KEY,
                                    first_name TEXT NOT NULL,
                                    last_name TEXT NOT NULL,
                                    gender CHAR(1) NOT NULL,
                                    level CHAR(4) NOT NULL
                                    );
Creating table:  CREATE TABLE IF NOT EXISTS songs (
                                    song_id VARCHAR(MAX) PRIMARY KEY,
                                    title TEXT NOT NULL,
                                    artist_id VARCHAR(20) NOT NULL,
                                    year int NOT NULL,
                                    duration DECIMAL(8,5) NOT NULL
                                    );
Creating table:  CREATE TABLE IF NOT EXISTS artists (
                                    artist_id VARCHAR(MAX) PRIMARY KEY,
                                    name TEXT NOT NULL,
                                    location TEXT NOT NULL,
                                    lattitude NUMERIC,
                                    longitude NUMERIC
                                    );
Creating table:  CREATE TABLE IF NOT EXISTS time (
                                    start_time TIMESTAMP PRIMARY KEY,
                                    hour int NOT NULL,
                                    day int NOT NULL,
                                    week int NOT NULL,
                                    month int NOT NULL,
                                    year int NOT NULL,
                                    weekday int NOT NULL
                                    );

In [3]:
%run etl.py

Copying data:  COPY log_data FROM 's3://udacity-dend/log_data/2018/11/2018-11-'
    CREDENTIALS 'aws_iam_role=arn:aws:iam::144316422473:role/dwhRole_akwa'
    REGION 'us-west-2' emptyasnull blanksasnull
    timeformat 'YYYY-MM-DD HH:MI:SS'
    json 's3://udacity-dend/log_json_path.json'

InternalError_: Load into table 'log_data' failed.  Check 'stl_load_errors' system table for details.