In [1]:
%run create_tables.py

Successful connection to the Cluster

Dropping table:  DROP TABLE IF EXISTS log_data;
Table dropped
Dropping table:  DROP TABLE IF EXISTS song_data;
Table dropped
Dropping table:  DROP TABLE IF EXISTS songplays;
Table dropped
Dropping table:  DROP TABLE IF EXISTS users;
Table dropped
Dropping table:  DROP TABLE IF EXISTS songs;
Table dropped
Dropping table:  DROP TABLE IF EXISTS artists;
Table dropped
Dropping table:  DROP TABLE IF EXISTS time;
Table dropped

Creating table:  CREATE TABLE IF NOT EXISTS log_data (
                                    artist TEXT,
                                    auth VARCHAR(MAX),
                                    firstName TEXT,
                                    gender CHAR(1),
                                    itemInSession int,
                                    lastName TEXT,
                                    length NUMERIC,
                                    level CHAR(4),
                                    location TEXT,
                                    method CHAR(3),
                                    page VARCHAR(MAX),
                                    registration bigint,
                                    session_id int,
                                    song TEXT,
                                    status smallint,
                                    ts bigint,
                                    userAgent TEXT,
                                    user_id int
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS song_data (
                                    num_songs int,
                                    artist_id VARCHAR(MAX),
                                    artist_latitude DOUBLE PRECISION,
                                    artist_longitude DOUBLE PRECISION,
                                    artist_location TEXT,
                                    artist_name TEXT,
                                    song_id VARCHAR(MAX),
                                    title TEXT,
                                    duration NUMERIC,
                                    year int
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS songplays (
                                    songplay_id int IDENTITY(0,1) PRIMARY KEY,
                                    start_time bigint NOT NULL,
                                    user_id int NOT NULL,
                                    level CHAR(4) NOT NULL,
                                    song_id VARCHAR(MAX) NOT NULL,
                                    artist_id VARCHAR(MAX) NOT NULL,
                                    session_id int NOT NULL,
                                    location TEXT,
                                    user_agent TEXT
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS users (
                                    user_id int GENERATED BY DEFAULT AS IDENTITY(0,1) PRIMARY KEY,
                                    first_name TEXT NOT NULL,
                                    last_name TEXT NOT NULL,
                                    gender CHAR(1) NOT NULL,
                                    level CHAR(4) NOT NULL
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS songs (
                                    song_id VARCHAR(MAX) PRIMARY KEY,
                                    title TEXT NOT NULL,
                                    artist_id VARCHAR(20) NOT NULL,
                                    year int NOT NULL,
                                    duration NUMERIC NOT NULL
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS artists (
                                    artist_id VARCHAR(MAX) PRIMARY KEY,
                                    name TEXT NOT NULL,
                                    location TEXT,
                                    latitude DOUBLE PRECISION,
                                    longitude DOUBLE PRECISION
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS time (
                                    start_time TIMESTAMP PRIMARY KEY,
                                    hour smallint NOT NULL,
                                    day smallint NOT NULL,
                                    week smallint NOT NULL,
                                    month TEXT NOT NULL,
                                    year int NOT NULL,
                                    weekday TEXT NOT NULL
                                    );
Table completed

In [2]:
%run etl.py

Copying data:  COPY log_data FROM 's3://udacity-dend/log_data/2018/11/2018-11-'
    CREDENTIALS 'aws_iam_role=arn:aws:iam::144316422473:role/dwhRole_akwa'
    REGION 'us-west-2' TRUNCATECOLUMNS BLANKSASNULL EMPTYASNULL
    timeformat as 'epochmillisecs'
    FORMAT AS json 's3://udacity-dend/log_json_path.json'

Data loading completed

Copying data:  COPY song_data FROM 's3://udacity-dend/song_data/A'
    CREDENTIALS 'aws_iam_role=arn:aws:iam::144316422473:role/dwhRole_akwa'
    REGION 'us-west-2' TRUNCATECOLUMNS BLANKSASNULL EMPTYASNULL
    FORMAT AS json 'auto ignorecase'

Data loading completed

Inserting data:  INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
                                SELECT ts, user_id, level, song_id, artist_id, session_id, artist_location, userAgent
                                FROM log_data l
                                INNER JOIN song_data s
                                ON s.title = l.song AND s.artist_name = l.artist
                                WHERE page = 'NextSong';
Data insertion completed

Inserting data:  INSERT INTO users (user_id, first_name, last_name, gender, level)
                                SELECT user_id, firstName, lastName, gender, level
                                FROM log_data
                                WHERE user_id IS NOT NULL;
Data insertion completed

Inserting data:  INSERT INTO songs (song_id, title, artist_id, year, duration)
                                SELECT song_id, title, artist_id, year, duration
                                FROM song_data
                                WHERE song_id IS NOT NULL;
Data insertion completed

Inserting data:  INSERT INTO time (start_time, hour, day, week, month, year, weekday)
                                SELECT
                                    start_time,
                                    DATE_PART('hour', start_time) AS hour,
                                    DATE_PART('day', start_time) AS day,
                                    DATE_PART('week', start_time) AS week,
                                    TO_CHAR(start_time, 'Month') AS month,
                                    DATE_PART('year', start_time) AS year,
                                    TO_CHAR(start_time, 'Day') AS weekday
                                FROM
                                    (
                                        SELECT
                                            TIMESTAMP 'epoch' + start_time/1000 *INTERVAL '1 second' AS start_time
                                        FROM  songplays
                                        WHERE start_time IS NOT NULL
                                     );
Data insertion completed

Inserting data:  INSERT INTO artists (artist_id, name, location, latitude, longitude)
                                SELECT artist_id, artist_name, artist_location, artist_latitude, artist_longitude)
                                FROM song_data
                                WHERE artist_id IS NOT NULL;

SyntaxError: syntax error at or near ")"
LINE 2: ...st_name, artist_location, artist_latitude, artist_longitude)
                                                                      ^

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()
query = 'select * from time limit 10'
cur.execute(query)

#print(cur.fetchall())

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(datetime.datetime(2018, 11, 26, 8, 33, 59), 8, 26, 48, 'November ', 2018, 'Monday   ')
(datetime.datetime(2018, 11, 6, 7, 36, 46), 7, 6, 45, 'November ', 2018, 'Tuesday  ')
(datetime.datetime(2018, 11, 12, 18, 35, 9), 18, 12, 46, 'November ', 2018, 'Monday   ')
(datetime.datetime(2018, 11, 24, 15, 47, 42), 15, 24, 47, 'November ', 2018, 'Saturday ')
(datetime.datetime(2018, 11, 8, 10, 7, 12), 10, 8, 45, 'November ', 2018, 'Thursday ')
(datetime.datetime(2018, 11, 9, 14, 50, 53), 14, 9, 45, 'November ', 2018, 'Friday   ')
(datetime.datetime(2018, 11, 13, 17, 47, 5), 17, 13, 46, 'November ', 2018, 'Tuesday  ')
(datetime.datetime(2018, 11, 19, 7, 37, 44), 7, 19, 47, 'November ', 2018, 'Monday   ')
(datetime.datetime(2018, 11, 21, 9, 36, 21), 9, 21, 47, 'November ', 2018, 'Wednesday')
(datetime.datetime(2018, 11, 13, 22, 27), 22, 13, 46, 'November ', 2018, 'Tuesday  ')