In [1]:
%run create_tables.py

Successful connection to the Cluster

Dropping table:  DROP TABLE IF EXISTS log_data;
Table dropped
Dropping table:  DROP TABLE IF EXISTS song_data;
Table dropped
Dropping table:  DROP TABLE IF EXISTS songplays;
Table dropped
Dropping table:  DROP TABLE IF EXISTS users;
Table dropped
Dropping table:  DROP TABLE IF EXISTS songs;
Table dropped
Dropping table:  DROP TABLE IF EXISTS artists;
Table dropped
Dropping table:  DROP TABLE IF EXISTS time;
Table dropped

Creating table:  CREATE TABLE IF NOT EXISTS log_data (
                                    artist TEXT,
                                    auth VARCHAR(MAX),
                                    firstName TEXT,
                                    gender CHAR(1),
                                    itemInSession int,
                                    lastName TEXT,
                                    length NUMERIC,
                                    level CHAR(4),
                                    location TEXT,
                                    method CHAR(3),
                                    page VARCHAR(MAX),
                                    registration bigint,
                                    session_id int,
                                    song TEXT,
                                    status smallint,
                                    ts bigint,
                                    userAgent TEXT,
                                    user_id int
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS song_data (
                                    num_songs int,
                                    artist_id VARCHAR(MAX),
                                    artist_latitude DOUBLE PRECISION,
                                    artist_longitude DOUBLE PRECISION,
                                    artist_location TEXT,
                                    artist_name TEXT,
                                    song_id VARCHAR(MAX),
                                    title TEXT,
                                    duration NUMERIC,
                                    year int
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS songplays (
                                    songplay_id int IDENTITY(0,1) PRIMARY KEY,
                                    start_time bigint NOT NULL,
                                    user_id int NOT NULL,
                                    level CHAR(4) NOT NULL,
                                    song_id VARCHAR(MAX) NOT NULL,
                                    artist_id VARCHAR(MAX) NOT NULL,
                                    session_id int NOT NULL,
                                    location TEXT,
                                    user_agent TEXT
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS users (
                                    user_id int GENERATED BY DEFAULT AS IDENTITY(0,1) PRIMARY KEY,
                                    first_name TEXT NOT NULL,
                                    last_name TEXT NOT NULL,
                                    gender CHAR(1) NOT NULL,
                                    level CHAR(4) NOT NULL
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS songs (
                                    song_id VARCHAR(MAX) PRIMARY KEY,
                                    title TEXT NOT NULL,
                                    artist_id VARCHAR(20) NOT NULL,
                                    year int NOT NULL,
                                    duration NUMERIC NOT NULL
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS artists (
                                    artist_id VARCHAR(MAX) PRIMARY KEY,
                                    name TEXT NOT NULL,
                                    location TEXT,
                                    latitude DOUBLE PRECISION,
                                    longitude DOUBLE PRECISION
                                    );
Table completed

Creating table:  CREATE TABLE IF NOT EXISTS time (
                                    start_time TIMESTAMP PRIMARY KEY,
                                    hour smallint NOT NULL,
                                    day smallint NOT NULL,
                                    week smallint NOT NULL,
                                    month CHAR(3) NOT NULL,
                                    year int NOT NULL,
                                    weekday CHAR(3) NOT NULL
                                    );
Table completed

In [ ]:
%run etl.py

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()
query = 'select * from time limit 10'
cur.execute(query)

#print(cur.fetchall())

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(datetime.datetime(2018, 11, 30, 16, 43, 28), 16, 30, 48, 'Nov', 2018, 'Fri')
(datetime.datetime(2018, 11, 14, 12, 56, 28), 12, 14, 46, 'Nov', 2018, 'Wed')
(datetime.datetime(2018, 11, 13, 17, 28, 33), 17, 13, 46, 'Nov', 2018, 'Tue')
(datetime.datetime(2018, 11, 28, 8, 18, 57), 8, 28, 48, 'Nov', 2018, 'Wed')
(datetime.datetime(2018, 11, 9, 11, 44, 35), 11, 9, 45, 'Nov', 2018, 'Fri')
(datetime.datetime(2018, 11, 27, 22, 15, 14), 22, 27, 48, 'Nov', 2018, 'Tue')
(datetime.datetime(2018, 11, 15, 13, 17, 4), 13, 15, 46, 'Nov', 2018, 'Thu')
(datetime.datetime(2018, 11, 17, 14, 48, 49), 14, 17, 46, 'Nov', 2018, 'Sat')
(datetime.datetime(2018, 11, 10, 8, 20, 13), 8, 10, 45, 'Nov', 2018, 'Sat')
(datetime.datetime(2018, 11, 15, 10, 52, 20), 10, 15, 46, 'Nov', 2018, 'Thu')

In [4]:
query = 'select count(*) from time'
cur.execute(query)

print(cur.fetchall())

[(333,)]

In [5]:
query = 'select count(*) from songplays'
cur.execute(query)

print(cur.fetchall())

[(333,)]

In [6]:
query = 'select count(*) from users'
cur.execute(query)

print(cur.fetchall())

[(105,)]

In [7]:
query = 'select count(*) from artists'
cur.execute(query)

print(cur.fetchall())

[(10025,)]

In [8]:
query = 'select count(*) from songs'
cur.execute(query)

print(cur.fetchall())

[(14896,)]

In [9]:
query = 'select count(*) from song_data'
cur.execute(query)

print(cur.fetchall())

[(14896,)]

In [10]:
query = 'select count(*) from log_data'
cur.execute(query)

print(cur.fetchall())

[(8056,)]